body {
    background-color: lightgrey;
}

.logo {
    font-style: italic;
}

.filter {
    padding-left: 5em;
    padding-top: 2em;
}

.kennel {
    background-color: pink;
    border: lightgrey;
    box-shadow: 10px 10px 8px 10px #888888;
}

.hospital {
    background-color: darkred;
    border: lightgrey;
    box-shadow: 10px 10px 8px 10px #888888;
}

.graveyard {
    background-color:black;
    border: lightgrey;
    box-shadow: 10px 10px 8px 10px #888888;
}

.section-header {
    color: white;
    text-transform: uppercase;
    padding: 2em;
    margin-top: 2em;
}

