body {
    background-color: lightpink;
}

.logo {
    font-style: italic;
}

#hospital {
    background-color: darkred;
}

#graveyard {
    background-color:black;
}

.section-header {
    color: white;
    text-transform: uppercase;
    padding: 2em;
    margin-top: 2em;
}
