body {
    background-color: lightgrey;
}

.intro {
    padding-top: 100px;
    padding-bottom: 20px;
}

.filter {
    padding-left: 5em;
    padding-top: 2em;
}

.hide {
	display: none;
}

.picture {
    border-radius: 50%;
}

.kennel {
    background-color: #D0F0C0;
    border: lightgrey;
    box-shadow: 10px 10px 8px 10px #888888;
}

.hospital {
    background-color: pink;
    border: lightgrey;
    box-shadow: 10px 10px 8px 10px #888888;
}

.graveyard {
    background-color:grey;
    border: lightgrey;
    box-shadow: 10px 10px 8px 10px #888888;
}

.section-header {
    text-transform: uppercase;
    padding-top: 2em;
    margin: 2em;
}

.nav-link {
    color: darkslategray;
}

.right-align {
    text-align: end;
}

.larger {
    font-size: 3em;
}
